#Hacky Conan profile for standard pspdev install
#assumes PSPDEV environment variable is properly set

[settings]
#Close enough
os=FreeBSD
arch=mips
compiler=gcc
compiler.version=11
compiler.libcxx=libstdc++11
compiler.cppstd=17

[options]
*:fPIC=False
*:shared=False

[env]
CC={{os.getenv("PSPDEV")}}/bin/psp-gcc
CXX={{os.getenv("PSPDEV")}}/bin/psp-g++
LD={{os.getenv("PSPDEV")}}/bin/psp-ld